@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GolosText-Regular';
  src: url('/fonts/GolosText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-Bold';
  src: url('/fonts/GolosText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-Medium';
  src: url('/fonts/GolosText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-SemiBold';
  src: url('/fonts/GolosText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Для Firefox */
  }
}

:root {
  --background: #fefefe;
  --foreground: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fefefe;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

input {
  outline: none;
}
